extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="mset2")
        | Collaborative Editing demo
    li
      a(href="testing")
        | Tests of MSET code
    li
      a(href="collabed")
        | Test of CollabEd code without wrapping
    li
      a(href="collabed_wrapping")
        | Test of CollabEd code with wrapping
