extends layout

block content
  h1 MSET Demo
  p This page was designed to help us test the ability of MSET to handle insertion collisions
  div#msetId

  ul#messages
  select#incoming
    option allowIncoming
    option queueIncoming
  select#outgoing
    option allowOutgoing
    option queueOutgoing
  hr
  h1 Edit ta1 below
  input#f1(type="text")
  button#b1 Switch file to edit
  hr
  textarea#ta1(rows="10",cols="80")
  hr
  textarea#ta2(rows="10",cols="80")
  h2 incoming
  div#incomingOps
  hr
  h2 outgoing
  div#outgoingOps
  hr
  div#status
  hr

  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
  script(type="module", src="/mset/CollabEd.js")
  script(type="module", src="/mset/CollabEdDemo.js")
