extends layout

block content
  h1 MSET Demo with 2 textareas
  p Welcome back #{userId}
  div#msetId

  ul#messages
  h1 Edit ta1 below
  input(id="group1",type="text",placeholder="group1 name")
  textarea#ta1(rows="10",cols="80")
  hr
  h1 Edit ta2 below
  input(id="group2",type="text",placeholder="group2 name")
  textarea#ta2(rows="10",cols="80")
  hr
  h1 View state below, but don't edit!
  hr
  div#operations1
  hr
  div#operations2
  hr
  div#status
  hr

  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
  script(src="/mset/MSET.js")
  script(src="/mset/demo2.js")
