extends layout

block content
  h1= title
  p This is a page for debugging in the console
  | Press CMD-ALT-J on Mac  <br> or F-12 on windows<br>
  | to open the Javascript console in Chrome <br>
  | (and if you aren't using Chrome, then switch!!)


  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")

  // script(type="module" src="/testing/testingDLLmset.js")
  script(type="module" src="/testing/testDLLwiCorrectness.js")
